.button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: white;
    -fx-font-family: "Jaro";
    -fx-font-size: 48px;
    -fx-cursor: hand;
}


/* Glows while hovered over */
.button:hover {
    -fx-effect: dropshadow(gaussian, #2EFF04, 20, 0.1, 0, 0);
}

/* Changes colour while pressed */
.button:armed {
    -fx-text-fill: #2EFF04;
}